body {
	margin: 0px;

	  font-family: "Roboto", sans-serif;
	
}

nav {
	padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  top: 0px;
  text-align: right;
  position: relative;
  height: 50px;
  background-color: grey;
  width: auto;

}

nav ul {

	display: inline-block;
	list-style: none;

}

nav li {
	display: inline-block;
	
	}

.post {
	 text-decoration:none;  
}

nav li::after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
}

.Glogo {
	height: 50px;
	float: left;
	padding-left: 50px;
	padding-bottom: 5px;
}

a {
	float: left;
}

.gregs {
	margin-bottom: 
}


label {
	display: block;
	margin-top: 50px;
	padding-bottom: 10px;
	padding-left: 10px;
}


.search-section {
margin-bottom: 30px;
padding-left: 250px;
margin-top: 150px;


}


.search-section input {

  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  height: 40px;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
  padding: 0 5px 0 8px;
  width: 350px;

}

.search-section button {
  font-size: 17px;
  height: 40px;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 15px;
}
.search-button {
  vertical-align: bottom;
  margin-bottom: 0px;
  margin-left: 5px;


}

.mag-glass {

	height: 100%;
}


div {

	
	
	padding-left: 450px;
}

.listings {
  padding: 0;
  display: inline-block;
}

.listing {
  list-style: none;
  margin-bottom: 15px;
}

.listing-date ,
.listing-location {
  color: #999;
}

.listing-title {
  font-weight: bold;
  font-size: 17px;
  margin-left: 8px;
  margin-right: 8px;
}
.listing-date {

	

}
