body {
  margin: 0px;

  font-family: "Roboto", sans-serif;
	}


.navbar {
	padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  top: 0px;
  text-align: right;
  position: relative;
  height: 50px;
  background-color: grey;
  width: auto;
}


.Glogo {
	height: 50px;
	float: left;
	padding-left: 50px;
	padding-bottom: 5px;
}

.top-nav {

  padding-top: 20px;

}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a::after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
}

.search-section {
  margin-bottom: 30px;
  margin-top: 150px;
 
  margin-left: 400px;

}

label {
  display: block;
  margin-bottom: 8px;
}

.search-section input {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 0 5px 0 8px;
  width: 400px;
}

.search-section button {
  font-size: 17px;
  height: 32px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding-bottom: 5px;
}


.pages {
  display: inline-block; 
  font-size: 0;
  margin-bottom: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  margin-left: 400px;
  width: 350px;
  text-align: center;



}

.pages-button {
  font-size: 16px;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 3px;
}

.pages-display {
  font-size: 16px;
  padding: 0 30px;
  padding: 8px 25px;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.listings {
  padding: 0;
  margin-left: 400px;
}

.listing {
  list-style: none;
  margin-bottom: 15px;
}

.listing-date ,
.listing-location {
  color: #999;
}

.listing-title {
  font-weight: bold;
  font-size: 17px;
  margin-left: 8px;
  margin-right: 8px;
}

.search-button {
  vertical-align: bottom;
}


.magnifying-glass-icon {
  height: 100%;

}




